@font-face {
  font-family: 'SamsungOne';
  font-style: normal;
  font-weight: normal;
  src: url('/src/fonts/samsungone-webfont/SamsungOne-400.woff');
}

@font-face {
  font-family: 'SamsungOne 700';
  font-style: normal;
  font-weight: normal;
  src: url('/src/fonts/samsungone-webfont/SamsungOne-700.woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/src/fonts/samsung-sharp-sans/samsungsharpsans.woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/src/fonts/samsung-sharp-sans/samsungsharpsans-medium.woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/src/fonts/samsung-sharp-sans/samsungsharpsans-bold.woff');
}
